<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->

    <title>Data - NC Document Online</title>
</head>

<body>
<include href="views/header.html">

<div class="container main">
    <h3>Form Data</h3>

    <table id="formData" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Operators</th>
                    <th>Programmer</th>
                    <th>Runtime</th>
                    <th>Model</th>
                    <th>FWC</th>
                    <th>Media</th>
                    <th>Program Number</th>
                    <th>Used to make</th>
                    <th>Program Date</th>
                    <th>Program Time</th>
                    <th>Program Type</th>
                    <th>Status</th>
                    <th>Rev. Reason</th>
                    <th>Graphic</th>
                    <th>MCD compare</th>
                    <th>Previous Buy-off</th>
                    <th>Programmers instructions</th>
                    <th>Programmers Notes</th>
                    <th>Milling Process</th>
                    <th>Operators Notes</th>
                    <th>Geometry</th>
                    <th>Signature</th>
                    <th>Layout Date</th>
                    <th>Layout Notes</th>
                    <th>Shop Signature</th>
                    <th>Shop Date</th>
                    <th>Remove Data</th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @dataInfo }}" value="{{ @info }}">
                    <tr>

                        <td><a href="home/{{ @info['formID'] }}">{{ @info['formID'] }}</a></td>
                        <td> <button data-id="{{@info['formID']}}" class="btn btn-secondary btn-sm opData">show info</button></td>
                        <td>{{ @info['Programmer'] }}</td>
                        <td>{{ @info['Runtime'] }}</td>
                        <td>{{ @info['Model'] }}</td>
                        <td>{{ @info['FWC'] }}</td>
                        <td>{{ @info['Media'] }}</td>
                        <td>{{ @info['Program_number'] }}</td>
                        <td>{{ @info['Used_to_make'] }}</td>
                        <td>{{ @info['Program_Date'] }}</td>
                        <td>{{ @info['Program_Time'] }}</td>
                        <td>{{ @info['Program_type'] }}</td>
                        <td>{{ @info['Part_Status'] }}</td>
                        <td>{{ @info['Rev_reason'] }}</td>
                        <td>{{ @info['Graphic'] }}</td>
                        <td>{{ @info['MCD_compare'] }}</td>
                        <td>{{ @info['Prev_buy_off'] }}</td>
                        <td>{{ @info['Programmers_instructions'] }}</td>
                        <td>{{ @info['programmers_notes'] }}</td>
                        <td>{{ @info['Milling_proc'] }}</td>
                        <td>{{ @info['operators_notes'] }}</td>
                        <td>{{ @info['Geometry'] }}</td>
                        <td>{{ @info['Signature'] }}</td>
                        <td>{{ @info['Layout_Date'] }}</td>
                        <td>{{ @info['layout_notes'] }}</td>
                        <td>{{ @info['Shop_signature'] }}</td>
                        <td>{{ @info['Shop_Date'] }}</td>
                        <td><button id="delete" data-formId="{{ @info['formID'] }}">Delete</button></td>

                    </tr>
                </repeat>
            </tbody>
        </table>
    <br>
    <br>
    <hr>

    <div>
        <table id="opData" class="table hidden">
            <thead>
                <tr>
                    <th>Operator Name</th>
                    <th>Date</th>
                    <th>PO Number</th>
                    <th>Machine</th>
                    <th>Shift</th>
                    <th>Seq From - To</th>
                </tr>
            </thead>
            <tbody id="opInfo">

            </tbody>
        </table>
    </div>

    <a class="btn btn-danger mb-4 align-content-end" type="button" value="Log Out" href="models/logout.php">LogOut</a>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="../controller/formFunctions.js"></script>
<!--<script src="//cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>-->
<script>
    $('#formData').DataTable({
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal({
                    header: function (row) {
                        var data = row.data();
                        // return 'Details for '+data[0]+' '+data[1];
                        return 'Details for ' + data[0];
                    }
                }),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                    tableClass: 'table'
                })
            }
        },
        order: [[1]]
    });

</script>


</body>