<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <title>Home - NC Document Online</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark display-7">
        <ul class="navbar-nav mr-auto mr-2 mt-lg-0">
            <li>
                <a class="nav-link text-left" href="../">Login</a>
            </li>

            <li>
                <a class="nav-link text-left" href="home">Home</a>
            </li>

            <li>
                <a class="nav-link text-left" href="../data">Form Database</a>
            </li>
        </ul>
    </nav>

    <div class="container main">
        <div class="jumbotron">
            <h1 class="display-4">NC Document Online</h1>
            <p class="lead">Numerical Control Operators Document</p>
        </div>
    </div>
