<nav class="navbar navbar-expand-lg navbar-dark bg-dark display-7">
    <ul class="navbar-nav mr-auto mr-2 mt-lg-0">
        <li>
            <!--            <a class="nav-link text-left" href="https://klow.greenriverdev.com/355/NC-Document-Online/">Login</a>-->
            <a class="nav-link text-left" href="/">Login</a>
        </li>

        <li>
            <!--            <a class="nav-link text-left" href="https://klow.greenriverdev.com/355/NC-Document-Online/home/0">Home</a>-->
            <a class="nav-link text-left" href="/home/0">Home</a>
        </li>

        <li>
            <!--            <a class="nav-link text-left" href="https://klow.greenriverdev.com/355/NC-Document-Online/data">Form Database</a>-->
            <a class="nav-link text-left" href="/data">Form Database</a>
        </li>
    </ul>
</nav>

<div class="container main">
    <div class="jumbotron">
        <h1 class="display-4">NC Document Online</h1>
        <p class="lead">Numerical Control Operators Document</p>
        <p id="vip" data-vip="{{@SESSION.formID}}">Form #: {{@SESSION.formID}}</p>
    </div>
</div>
