<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home - NC Document Online</title>
</head>
<body>
<div class="container main">
    <div class="jumbotron">
        <h1 class="display-4">NC Document Online</h1>
        <p class="lead">Numerical Control Operators Document</p>
    </div>
</div>

<form id="info" action="#" method="post">
    <div class="container main">
        <div class="form-group">
            <label for="programmer"><strong>Programmer: </strong>
                <input id="programmer" type="text" class="form-control" name="programmer" value="{{ @programmer}}">
            </label>
            <check if="{{ @errors['programmer'] }}">
                <span class="err">{{ @errors['programmer'] }}</span>
            </check>

            <label for="rtime"><strong>Runtime: </strong>
                <input id="rtime" type="text" class="form-control" name="rtime" value="{{ @rtime}}">
            </label>
            <check if="{{ @errors['rtime'] }}">
                <span class="err">{{ @errors['rtime'] }}</span>
            </check>

            <label for="model"><strong>Model: </strong>
                <input id="model" type="text" class="form-control" name="model" value="{{ @model}}">
            </label>
            <check if="{{ @errors['model'] }}">
                <span class="err">{{ @errors['model'] }}</span>
            </check>

            <label for="fwc"><strong>FWC: </strong>
                <input id="fwc" type="text" class="form-control" name="fwc" value="{{ @fwc}}">
            </label>
            <check if="{{ @errors['fwc'] }}">
                <span class="err">{{ @errors['fwc'] }}</span>
            </check>

            <label for="media"><strong>Media File: </strong>
                <input id="media" type="text" class="form-control" name="media" value="{{ @media}}">
            </label>
            <check if="{{ @errors['media'] }}">
                <span class="err">{{ @errors['media'] }}</span>
            </check>
        </div>

        <div class="form-group border">
            <label class="col-sm-8" for="program"><strong>Program Number: </strong>
                <input id="program" type="text" class="form-control" name="program" value="{{ @program}}">
            </label>

            <label class="col-sm-2" for="make"><strong>Used to Make: </strong>
                <input id="make" type="text" class="form-control" name="make" value="{{ @make}}">
            </label>

            <label class="col-sm-3" for="date"><strong>Program Date: </strong>
                <input id="date" type="date" class="form-control" name="date" value="{{ @date}}">
            </label>

            <label class="col-sm-2" for="ptime"><strong>Program Time: </strong>
                <input id="ptime" type="time" class="form-control" name="ptime" value="{{ @ptime}}">
            </label>

            <label class="col-sm-2" for="ptype"><strong>Program Type: </strong>
                <input id="ptype" type="text" class="form-control" name="ptype" placeholder="Ex. MTO 1" value="{{ @ptype }}">
            </label>

            <label class="col-sm-3" for="status"><strong>Status: </strong>
                <select id="status" class="form-control">
                    <option value="Marginal">Marginal</option>
                    <option value="No-buy-off">No buy-off</option>
                    <option value="NeedsL/O">Needs L/O re-check</option>
                    <option value="T/L">Waiting for Team Lead signature</option>
                    <option value="PRO">PRO</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-1" for="rev"><strong>Program Rev. </strong>
                <input id="rev" type="text" class="form-control" name="rev" value="{{ @rev }}">
            </label>

        </div>

        <h3 class="text-lg-center"><strong>Programmer's MTO Instructions</strong></h3>

        <div class="form-group text-center">
            <label class="col-sm-2" for="reason"><strong>Reason For Revision: </strong>
                <select id="reason" class="form-control">
                    <option value="Improvement">Improvement File</option>
                    <option value="change">Eng. change</option>
                    <option value="SAT">SAT #</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-2" for="graphic"><strong>Graphic Check: </strong>
                <select id="graphic" class="form-control">
                    <option value="Vericut">Vericut</option>
                    <option value="Deneb">DENEB</option>
                    <option value="NCPSR">NCPSR #</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-2" for="mcd"><strong>MCD Compare: </strong>
                <select id="mcd" class="form-control">
                    <option value="yes">YES</option>
                    <option value="no">NO</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-2" for="buyoff"><strong>Previous Buy-off: </strong>
                <select id="buyoff" class="form-control">
                    <option value="Yes1">YES</option>
                    <option value="No1">NO</option>
                    <option value="marginal1">Marginal (L/O)</option>
                    <option value="marginal2">Marginal (Shop)</option>
                    <option value="na">N/A</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-2" for="instructions"><strong>Programmer's MTO Instructions: </strong>
                <select id="instructions" class="form-control">
                    <option value="" disabled selected hidden>please select one</option>
                    <option value="with">Programmer presence required</option>
                    <option value="without">Ok to run without programmer</option>
                </select>
            </label>
        </div>

        <textarea id="Pnotes" name="Pnotes" rows="10" maxlength="50000" class="form-control" placeholder="Programmers Notes..."></textarea>

        <h3 class="text-lg-center"><strong>First Part MTO Run</strong></h3>

        <div class="form-group border">
            <label class="col-sm-auto"><strong>ADD</strong>
                <button id="plus" type="button" class="form-control" name="plus" value="plus">+</button>
                <button id="minus" type="button" class="form-control" name="minus" value="minus">-</button>
            </label>

            <label class="col-sm-auto" for="operator"><strong>Operator's Name: </strong>
                <input id="operator" type="text" class="form-control" name="operator" value="{{ @operator}}">
            </label>

            <label class="col-sm-auto" for="date2"><strong>Date: </strong>
                <input id="date2" type="date" class="form-control" name="date2" value="{{ @date2}}">
            </label>

            <label class="col-sm-auto" for="po"><strong>P/O #: </strong>
                <input id="po" type="text" class="form-control" name="po" value="{{ @po}}">
            </label>

            <label class="col-sm-auto" for="machine"><strong>Machine #: </strong>
                <input id="machine" type="text" class="form-control" name="machine" value="{{ @machine}}">
            </label>

            <label class="col-sm-auto" for="shift"><strong>Shift: </strong>
                <select id="shift" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-auto" for="seq"><strong>Seq. from/to: </strong>
                <input id="seq" type="text" class="form-control" name="seq" value="{{ @seq}}">
            </label>

            <hr>

            <label class="col-sm-auto" for="process"><strong>Milling Process acceptable? </strong>
                <select id="process" class="form-control">
                    <option value="yes2">Yes</option>
                    <option value="no2">No</option>
                    <option value="needs">Still needs work</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <textarea id="Onotes" name="Onotes" class="form-control" rows="7" maxlength="50000" placeholder="Operators Notes..."></textarea>

            <hr>

            <h3 class="text-lg-center"><strong>Layout First Part Check Report</strong></h3>

            <label class="col-sm-auto" for="geometry"><strong>Geometry acceptable?</strong>
                <select id="geometry" class="form-control">
                    <option value="yes3">Yes</option>
                    <option value="no3">No</option>
                    <option value="marginal2">Marginal</option>
                    <option value="LO">L/O in process</option>
                    <option value="re-check">Re-check Required</option>
                    <option value="" disabled selected hidden>please select one</option>
                </select>
            </label>

            <label class="col-sm-auto" for="signature"><strong>Signature: </strong>
                <input id="signature" type="text" class="form-control" name="signature" value="{{ @signature}}">
            </label>

            <label class="col-sm-auto" for="sigdate"><strong>Date: </strong>
                <input id="sigdate" type="date" class="form-control" name="sig-date" value="{{ @sig-date}}">
            </label>

            <textarea id="Lnotes" name="Lnotes" class="form-control" rows="7" maxlength="50000" placeholder="Layout Notes..."></textarea>

        </div>

        <h3 class="text-lg-center"><strong>Shop Approval For Production</strong></h3>

        <label class="col-sm-auto" for="sig2"><strong>Signature: </strong>
            <input id="sig2" type="text" class="form-control" name="sig2" value="{{ @sig2}}">
        </label>

        <label class="col-sm-auto" for="sig2date"><strong>Date: </strong>
            <input id="sig2date" type="date" class="form-control" name="sig2-date" value="{{ @sig2date}}">
        </label>

        <label class="col-sm-auto" for="cmes">
            <button id="cmes" type="button" class="form-control btn-secondary" name="cmes" value="cmes">CMES</button>
        </label>

        <label class="col-sm-auto" for="qAlert">
            <button id="qAlert" type="button" class="form-control btn-secondary" name="qAlert" value="qAlert">Q Alert</button>
        </label>

        <label class="col-sm-auto" for="ednc">
            <button id="ednc" type="button" class="form-control btn-secondary" name="ednc" value="ednc">eDNC</button>
        </label>

        <label class="col-sm-auto" for="mtoreport">
            <button id="mtoreport" type="button" class="form-control btn-secondary" name="mtoreport" value="mtoreport">MTO report</button>
        </label>

        <label class="col-sm-auto" for="email">
            <button id="email" type="button" class="form-control btn-secondary" name="email" value="email">email</button>
        </label>

        <div class="btn-bottom">
            <button type="submit" class="btn btn-primary" value="next" id="next">Save</button>
        </div>

    </div>
</form>


<br>
<br>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>