<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<title>Home - NC Document Online</title>
</head>
<body>
<include href="views/header.html">

    <h1 class="disappear">{{@SESSION.permission}}</h1>

<form id="info" action="#" method="post" enctype="multipart/form-data">
<div class="container">
    <div class="form-group">
        <!--Input Values to start the form-->
            <label for="programmer"><strong>Programmer: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="programmer" type="text" class="form-control" name="programmer" value="{{ @programmer}}">
            </label>
            <check if="{{ @errors['programmer'] }}">
                <span class="err">{{ @errors['programmer'] }}</span>
            </check>

            <label for="rtime"><strong>Runtime: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="rtime" type="text" class="form-control" name="rtime" value="{{ @rtime}}">
            </label>
            <check if="{{ @errors['rtime'] }}">
                <span class="err">{{ @errors['rtime'] }}</span>
            </check>

            <label for="model"><strong>Model: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="model" type="text" class="form-control" name="model" value="{{ @model}}">
            </label>
            <check if="{{ @errors['model'] }}">
                <span class="err">{{ @errors['model'] }}</span>
            </check>

            <label for="fwc"><strong>FWC: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="fwc" type="text" class="form-control" name="fwc" value="{{ @fwc}}">
            </label>
            <check if="{{ @errors['fwc'] }}">
                <span class="err">{{ @errors['fwc'] }}</span>
            </check>

            <label for="media"><strong>Media File: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="media" type="text" class="form-control" name="media" value="{{ @media}}">
            </label>
            <check if="{{ @errors['media'] }}">
                <span class="err">{{ @errors['media'] }}</span>
            </check>
        </div>

        <div class="form-group border">
            <label class="col-sm-8" for="program"><strong>Program Number: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="program" type="text" class="form-control" name="program" value="{{ @program}}">
            </label>

            <label class="col-sm-2" for="make"><strong>Used to Make: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="make" type="text" class="form-control" name="make" value="{{ @make}}">
            </label>

            <label class="col-sm-3" for="date"><strong>Program Date: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="date" type="date" class="form-control" name="date" value="{{ @date}}">
            </label>

            <label class="col-sm-2" for="ptime"><strong>Program Time: </strong>
                <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="ptime" type="text" class="form-control" maxlength="8" name="ptime" value="{{ @ptime}}">
            </label>

            <label class="col-sm-2" for="ptype"><strong>Program Type: </strong>
                <input  <check if="@SESSION.permission != 'Pro'">readonly</check> id="ptype" type="text" class="form-control" name="ptype" placeholder="Ex. MTO 1" value="{{ @ptype }}">
            </label>

            <!--Dropdown values pulled from array of options-->
            <label><strong>Status: </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check> name="status" class="form-control">
                    <repeat group="{{ @stat }}" value="{{ @status }}">
                                <option value="{{ @status }}"
                                        <check if="{{ @stats == @status }}">
                                            selected = "selected"
                                        </check>
                                        <check if="@SESSION.permission != 'Pro'">
                                            class="disappear"
                                        </check>
                                >{{ @status }}
                        </repeat>
                </select>
            </label>
        </div>

        <h3 class="text-lg-center"><strong>Programmer's MTO Instructions</strong></h3>

        <div class="form-group text-center">

            <!--Dropdown values pulled from array of options-->
            <label><strong>Reason For Revision: </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check> name="reason" class="form-control col-sm-auto" onchange='CheckReason(this.value);'>
                    <repeat group="{{ @reasons }}" value="{{ @reason }}">
                        <option value="{{ @reason }}"
                                <check if="{{ @reason4 == @reason }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @reason }}
                    </repeat>
                </select>
            </label>

            <!--<input type="text" name="reason" class="form-control" id="reason" placeholder="SAT#"style='display:none;' maxlength="20" />-->

            <!--Dropdown values pulled from array of options-->
            <label><strong>Graphic Check: </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check>  name="graphic" class="form-control col-sm-auto" onchange='CheckNCPSR(this.value);'>
                    <repeat group="{{ @graphics }}" value="{{ @graphic }}">
                        <option value="{{ @graphic }}"
                                <check if="{{ @graph == @graphic }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @graphic }}
                    </repeat>
                </select>
            </label>
            <!--<input type="text" name="graphic" class="form-control" id="graphic"  placeholder="NCPSR#"style='display:none;' maxlength="20" />-->

            <!--Dropdown values pulled from array of options-->
            <label><strong>MCD Compare: </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check>  name="mcd" class="form-control col-sm-auto">
                    <repeat group="{{ @mcds }}" value="{{ @mcd }}">
                        <option value="{{ @mcd }}"
                                <check if="{{ @mc == @mcd }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @mcd }}
                    </repeat>
                </select>
            </label>

            <!--Dropdown values pulled from array of options-->
            <label><strong>Previous Buy-Off: </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check> name="buyoff" class="form-control col-sm-auto">
                    <repeat group="{{ @buyoffs }}" value="{{ @buyoff }}">
                        <option value="{{ @buyoff }}"
                                <check if="{{ @bf == @buyoff }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @buyoff }}
                    </repeat>
                </select>
            </label>

            <br>

            <!--Dropdown values pulled from array of options-->
            <label><strong>Programmer's MTO Instructions: </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check> name="instruction" class="form-control col-sm-auto">
                    <repeat group="{{ @instructions }}" value="{{ @instruction }}">
                        <option value="{{ @instruction }}"
                                <check if="{{ @instruct == @instruction }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @instruction }}
                    </repeat>
                </select>
            </label>
        </div>

        <!--Textarea for user to place notes-->
        <label class="col-sm-12" for="Pnotes" ><strong>Programmers Notes: </strong>
            <textarea <check if="@SESSION.permission != 'Pro'">readonly</check> id="Pnotes" name="Pnotes" rows="10" maxlength="50000" class="form-control" placeholder="...">{{@pronotes}}</textarea>
        </label>
        <h3 class="text-lg-center"><strong>First Part MTO Run</strong></h3>

        <div class="form-group">
            <!--buttons to add more operators if needed-->
            <div id="ops">
<!--                <label class="col-sm-auto"><strong>ADD</strong>-->
<!--                    <button id="plus" type="button" class="form-control" name="plus" value="plus">+</button>-->
<!--                    <button id="minus" type="button" class="form-control" name="minus" value="minus">-</button>-->
<!--                </label>-->
                <div><!--  data-count="1"-->
                    <label class="col-sm-auto" for="operator"><strong>Operator's Name: </strong>
                        <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="operator" type="text" class="form-control ope" name="operator" value="{{ @operator}}">
                    </label>

                    <label class="col-sm-auto" for="date2"><strong>Date: </strong>
                        <input <check if="@SESSION.permission != 'Pro'">readonly</check>  id="date2" type="date" class="form-control ope" name="date2" value="{{ @date2}}">
                    </label>

                    <label class="col-sm-auto" for="po"><strong>P/O #: </strong>
                        <input <check if="@SESSION.permission != 'Pro'">readonly</check>  id="po" type="text" class="form-control ope" name="po" value="{{ @po}}">
                    </label>

                    <label class="col-sm-auto" for="machine"><strong>Machine #: </strong>
                        <input <check if="@SESSION.permission != 'Pro'">readonly</check>  id="machine" type="text" class="form-control ope" name="machine" value="{{ @machine}}">
                    </label>

                    <!--Dropdown values pulled from array of options-->
                    <label><strong>Shift: </strong>
                        <select <check if="@SESSION.permission != 'Pro'">readonly</check>  id="shift" name="shift" class="form-control ope">
                            <repeat group="{{ @shifts }}" value="{{ @shift }}">
                                <option value="{{ @shift }}"
                                        <check if="{{ @shi == @shift }}">
                                            selected = "selected"
                                        </check>
                                        <check if="@SESSION.permission != 'Pro'">
                                            class="disappear"
                                        </check>
                                >{{ @shift }}
                            </repeat>
                        </select>
                    </label>

                    <label class="col-sm-auto" for="seq"><strong>Seq. from/to: </strong>
                        <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="seq" type="text" class="form-control ope" name="seq" value="{{ @seq}}">
                    </label>
                    <hr>
                </div>
            </div>

            <hr>

            <!--Dropdown values pulled from array of options-->
            <label><strong>Milling Process acceptable? </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check> name="process" class="form-control ope">
                    <repeat group="{{ @processes }}" value="{{ @process }}">
                        <option value="{{ @process }}"
                                <check if="{{ @pro == @process }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @process }}</option>
                    </repeat>
                </select>
            </label>

            <!--Textarea for user to place notes-->
            <label class="col-sm-12" for="Onotes" ><strong>Operator Notes: </strong>
                <textarea <check if="@SESSION.permission != 'Pro'">readonly</check> id="Onotes" name="Onotes" rows="10" maxlength="50000" class="form-control ope" placeholder="...">{{@opernotes}}</textarea>
            </label>

            <h3 class="text-lg-center"><strong>Layout First Part Check Report</strong></h3>

            <!--Dropdown values pulled from array of options-->
            <label><strong>Geometry acceptable? </strong>
                <select <check if="@SESSION.permission != 'Pro'">readonly</check> name="geometry" class="form-control lay">
                    <repeat group="{{ @geometrys }}" value="{{ @geometry }}">
                        <option value="{{ @geometry }}"
                                <check if="{{ @geo == @geometry }}">
                                    selected = "selected"
                                </check>
                                <check if="@SESSION.permission != 'Pro'">
                                    class="disappear"
                                </check>
                        >{{ @geometry }} </option>
                    </repeat>
                </select>
            </label>

            <label class="col-sm-auto" for="signature"><strong>Signature: </strong>
                <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="signature" type="text" class="form-control lay" name="signature" value="{{ @signature}}">
            </label>

            <label class="col-sm-auto" for="sigdate"><strong>Date: </strong>
                <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="sigdate" type="date" class="form-control lay" name="sigdate" value="{{ @sigdate}}">
            </label>

            <!--Textarea for user to place notes-->
            <label class="col-sm-12" for="Lnotes" ><strong>LayOut Notes: </strong>
                <textarea <check if="@SESSION.permission != 'Pro'">readonly</check> id="Lnotes" name="Lnotes" rows="10" maxlength="50000" class="form-control lay" placeholder="...">{{@Lnotes}}</textarea>
            </label>
        </div>

        <h3 class="text-lg-center"><strong>Shop Approval For Production</strong></h3>

        <label class="col-sm-auto" for="sig2"><strong>Signature: </strong>
            <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="sig2" type="text" class="form-control tea" name="sig2" value="{{ @sig2}}">
        </label>

        <label class="col-sm-auto" for="sig2date"><strong>Date: </strong>
            <input <check if="@SESSION.permission != 'Pro'">readonly</check> id="sig2date" type="date" class="form-control tea" name="sig2date" value="{{ @sig2date}}">
        </label>

        <label class="col-sm-auto" for="cmes">
            <button id="cmes" type="button" class="form-control btn-secondary" name="cmes" value="cmes">CMES</button>
        </label>

        <label class="col-sm-auto" for="qAlert">
            <button id="qAlert" type="button" class="form-control btn-secondary" name="qAlert" value="qAlert">Q Alert</button>
        </label>

        <label class="col-sm-auto" for="ednc">
            <button id="ednc" type="button" class="form-control btn-secondary" name="ednc" value="ednc">eDNC</button>
        </label>

        <label class="col-sm-auto" for="mtoreport">
            <a href="/mtoreport/{{@SESSION.formID}}"><button id="mtoreport" type="button" class="form-control btn-secondary" name="mtoreport" value="mtoreport">MTO report</button></a>
        </label>

        <label class="col-sm-auto" for="email">
            <button id="email" type="button" class="form-control btn-secondary" name="email" value="email">email</button>
        </label>

        <br>
        <br>

        <hr>


        <h4 class="text-lg-center"><strong>Sequence Table</strong></h4>

        <!--Hidden sequence block that appears only when programmer wants to add more sequences-->
        <div class="all-sequences form-group border p-3" data-formid="{{@SESSION.formID}}">
            <repeat group="{{@sequences}}" value="{{@sequence}}">
                <div class="block" data-id = "{{@sequence['tooling_sequence_id']}}">
                    <div>
                        <h2>Sequence #{{@sequence['tooling_sequence_id']}}</h2>

                        <div class="row">
                            <label class="col-sm-12 " for="seq{{@sequence['tooling_sequence_id']}}">Seq#
                                <input <check if="@SESSION.permission != 'Pro'">readonly</check> type="text" data-input="9" class="saveInfo form-control shorten" data-column="seq_num" maxlength="5" id="seq{{@sequence['tooling_sequence_id']}}" value="{{@sequence['seq_num']}}" name="seqNum">
                            </label>

                        <label class="col-sm-3" for="tool{{@sequence['tooling_sequence_id']}}">Tool#1
                            <input <check if="@SESSION.permission != 'Pro'">readonly</check> type="text" data-input="0" class="saveInfo form-control" data-column="tool_num_1" maxlength="5" id="tool{{@sequence['tooling_sequence_id']}}" value="{{@sequence['tool_num_1']}}" name="tool">
                        </label>

                        <label class="col-sm-8" for="desc{{@sequence['tooling_sequence_id']}}">Description
                            <input <check if="@SESSION.permission != 'Pro'">readonly</check> type="text" data-input="1" class="saveInfo form-control" data-column="tool_description_1" id="desc{{@sequence['tooling_sequence_id']}}" value="{{@sequence['tool_description_1']}}" name="desc">
                        </label>

                        <label class="col-sm-3" for="tool1{{@sequence['tooling_sequence_id']}}">Tool#2
                            <input <check if="@SESSION.permission != 'Pro'">readonly</check> type="text" data-input="2" class="saveInfo form-control"data-column="tool_num_2" maxlength="5"  id="tool1{{@sequence['tooling_sequence_id']}}" value="{{@sequence['tool_num_2']}}" name="tool1">
                        </label>

                        <label class="col-sm-8" for="desc1{{@sequence['tooling_sequence_id']}}">Description
                            <input <check if="@SESSION.permission != 'Pro'">readonly</check> type="text" data-input="3" class="saveInfo form-control" data-column="tool_description_2" id="desc1{{@sequence['tooling_sequence_id']}}" value="{{@sequence['tool_description_2']}}" name="desc1">
                        </label>

                        <label class="col-sm-12" for="pronotes{{@sequence['tooling_sequence_id']}}"><strong>Programmers Notes: </strong>
                            <textarea <check if="@SESSION.permission != 'Pro'">readonly</check>  data-input="4" id="pronotes{{@sequence['tooling_sequence_id']}}" name="pronotes" data-column="programmers_notes" rows="5" maxlength="3000" class="saveInfo form-control" placeholder="...">{{@sequence['programmers_notes']}}</textarea>
                        </label>
                        <br>

                        <label class="col-sm-12" for="opernotes{{@sequence['tooling_sequence_id']}}"><strong>Operator Notes: </strong>
                            <textarea <check if="@SESSION.permission != 'Pro'">readonly</check>  data-input="5" id="opernotes{{@sequence['tooling_sequence_id']}}" name="opernotes" data-column="operators_notes" rows="5" maxlength="3000" class="saveInfo form-control ope" placeholder="...">{{@sequence['operators_notes']}}</textarea>
                        </label>

                        <label class="col-sm-12" for="mtocomments{{@sequence['tooling_sequence_id']}}"><strong>MTO Comments: </strong>
                            <textarea <check if="@SESSION.permission != 'Pro'">readonly</check>  data-input="6" id="mtocomments{{@sequence['tooling_sequence_id']}}" name="mtocomments" data-column="mto_comments" rows="3" maxlength="2000" class="saveInfo form-control" placeholder="...">{{@sequence['mto_comments']}}</textarea>
                        </label>
                        </div>

                        <div>
                        <label for="rpmran{{@sequence['tooling_sequence_id']}}">F/R and RPM ran @100%
                            <input <check if="@SESSION.permission != 'Pro'">readonly</check> type="checkbox" data-input="7" id="rpmran{{@sequence['tooling_sequence_id']}}" data-column="fr_rpm_100" name="rpmran" value="checkbox" class="saveInfo"
                            <check if="{{@sequence['fr_rpm_100'] == 1}}">checked</check>>
                        </label>

                        <label><strong>MTO Status: </strong>
                            <select <check if="@SESSION.permission != 'Pro'">readonly</check> class="form-control saveInfo" data-column="tooling_mto_status" data-input="8">
                                <repeat group="{{@mtostat}}" value="{{@mto}}">
                                    <option value="{{@mto}}"
                                    <check if="{{@sequence['tooling_mto_status'] === @mto}}">selected</check>
                                    <check if="@SESSION.permission != 'Pro'">class="disappear"</check>
                                    > {{@mto}} </option>
                                </repeat>
                            </select>
                        </label>
                        </div>

                        <input <check if="@SESSION.permission != 'Pro'">disabled</check> type="file" id="image" name="image" data-column="file_url" data-seqid = "{{@sequence['tooling_sequence_id']}}" data-formid="{{@SESSION.formID}}">
                        <check if = '{{!isset(@sequence["file_url"])}}'>
                            <true><img src="" alt="random programming image" class="disappear"></true>
                            <false><img src="../images/{{@sequence['file_url']}}" id='seqImage{{@sequence["tooling_sequence_id"]}}' alt="random programming image">
                            <i class="glyphicon glyphicon-remove"></i></false>
                        </check>
                        <hr>
                    </div>
                </div>
            </repeat>
        </div>

    <button <check if="@SESSION.permission != 'Pro'">disabled</check> id="addsequence" type="button" class="btn btn-primary">Add Sequence</button>
    <button <check if="@SESSION.permission != 'Pro'">disabled</check> id="removesequence" type="button" class="btn btn-primary">Remove last Sequence</button>
    <button <check if="@SESSION.permission != 'Pro'">disabled</check> id="save" type="button" class="btn btn-primary">Save</button>

        <br>


        <!--A table of tools for the part number being made-->
        <div id="table">
            <label class="col-sm-auto" for="list"><strong>Cutter List for: </strong>
                <input id="list" type="text" class="form-control" name="list" value="{{ @list}}">
            </label>
            <label class="col-sm-auto" for="list1"><strong>Media-File: </strong>
                <input id="list1" type="text" class="form-control" name="list1" value="{{ @list1}}">
            </label>
            <label class="col-sm-auto" for="list2"><strong>FWC: </strong>
                <input id="list2" type="text" class="form-control" name="list2" value="{{ @list2}}">
            </label>
            <label class="col-sm-auto" for="list3"><strong>Date Created: </strong>
                <input id="list3" type="text" class="form-control" name="list3" value="{{ @list3}}">
            </label>
            <table class="table table-bordered table-editable" id="tbl_posts">
                <thead>
                <tr>
                    <th>#</th>
                    <th>TDM Tool Assy. ID</th>
                    <th>Tool Description</th>
                    <th>Tool Number</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="tbl_posts_body">
                <tr id="rec-1">
                    <td><span class="sn">1</span>.</td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td><a class="btn btn-xs delete-record" data-id="1"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                <tr id="rec-2">
                    <td><span class="sn">2</span>.</td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td><a class="btn btn-xs delete-record" data-id="2"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>

                <tr id="rec-3">
                    <td><span class="sn">3</span>.</td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td contenteditable="true"></td>
                    <td><a class="btn btn-xs delete-record" data-id="3"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>

            <div style="display:none;">
                <table id="sample_table">
                    <tr id="">
                        <td><span class="sn"></span>.</td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td contenteditable="true"></td>
                        <td><a class="btn btn-xs delete-record" data-id="0"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                </table>
            </div>
            <div>
                <a class="btn btn-info pull-right add-record" data-added="0"><i class="glyphicon glyphicon-plus"></i> Add Row</a>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-block btn-lg" value="next" id="next">Save</button>
            </div>
        </div>
    <a class="btn btn-danger mb-4 align-content-end" type="button" value="Log Out" href="../models/logout.php">Log Out</a>
    </div>
</form>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../controller/formFunctions.js"></script>
    <script src="../jsDirectory/formPermissions.js"></script>

</body>
</html>
