<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Register - NC Document Online</title>
</head>
<body>
<div class="container main">
    <!-- Jumbotron -->
    <div class="container main">
        <div class="jumbotron">
            <img src="images/file-to-cloud-right.jpg" alt="File to cloud" class="float-left mr-3" width="135"></a>
            <br>
            <h1 class="display-4 center" id="mainh1">NC Document Online</h1>
        </div>
    </div>

    <!-- form -->
    <form id="register" action="#" method="post" enctype="multipart/form-data">

        <div class="form-group" align="center">


            <!-- username -->
            <label>
                <input class="form-control" id="username" type="text" name="username" placeholder="Username"
                       value="{{ @username }}">
                <check if="{{ isset(@username_err) }}">
                    <label class="text-danger">{{ @username_err }}</label>
                </check>
            </label>
            <br>
            <!-- /username -->

            <!-- password -->
            <label>
                <input class="form-control" id="password" type="password" name="password"
                       placeholder="Password">
                <check if="{{ isset(@password_err) }}">
                    <label class="text-danger">{{ @password_err }}</label>
                </check>
            </label>
            <br>
            <!-- /password -->

            <!-- confirm password -->
            <label>
                <input class="form-control" id="confirm_password" type="password" name="confirm_password"
                       placeholder="Confirm Password">
                <check if="{{ isset(@confirm_password_err) }}">
                    <label class="text-danger">{{ @confirm_password_err }}</label>
                </check>
            </label>
            <br>
            <!-- /confirm password -->

            <!-- permission dropdown -->
            <label>
                <select name="permission" id="permission" class="form-control">
                    <repeat group="{{ @permission }}" value="{{ @permissions }}">
                        <option value="{{ substr(@permissions,0,3) }}"
                        <check if="{{ @permissionLevel == @permissions }}">
                            selected = "selected"
                        </check>
                        >{{ @permissions }}
                    </repeat>
                </select>
                <check if="{{ isset(@permission_err) }}">
                    <label class="text-danger">{{ @permission_err }}</label>
                </check>
            </label>
            <br>
            <!-- /permission dropdown -->

            <!-- name -->
            <label>
                <input class="form-control" id="name" type="text" name="name" placeholder="Name"
                       value="{{ @name }}">
                <check if="{{ isset(@name_err) }}">
                    <label class="text-danger">{{ @name_err }}</label>
                </check>
            </label>
            <br>
            <!-- /name -->

            <br>
            <button class="btn btn-primary mb-4" type="submit" name="submit" value="Register">Register</button>
            <hr class="m-5">

        </div>
        <!-- /container div -->

    </form>
    <!-- /form -->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>