<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home - NC Document Online</title>
</head>
<body>
    <div class="container main">
        <div class="jumbotron">
            <h1 class="display-4">NC Document Online</h1>
            <p class="lead">Numerical Control Operators Document</p>
        </div>
    </div>

    <div class="container" id="summary">
        <span class="border-dark rounded">
            <h1>Summary</h1>
            <p>Programmer: {{ @SESSION.programmer }}</p>
            <hr>
            <p>Runtime: {{ @SESSION.rtime }}</p>
            <hr>
            <p>Model: {{ @SESSION.model }}</p>
            <hr>
            <p>FWC: {{ @SESSION.fwc }}</p>
            <hr>
            <p>Media: {{ @SESSION.media }}</p>
        </span>
    </div>

</body>
</html>