<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <title>Summary - NC Document Online</title>
</head>
<body>
<include href="views/header.html">

    <div class="container" id="summary">
        <span class="border-dark rounded">
            <h1>Summary</h1>
            <p>Programmer: {{ @SESSION.programmer }}</p>
            <hr>
            <p>Runtime: {{ @SESSION.rtime }}</p>
            <hr>
            <p>Model: {{ @SESSION.model }}</p>
            <hr>
            <p>FWC: {{ @SESSION.fwc }}</p>
            <hr>
            <p>Media: {{ @SESSION.media }}</p>
            <hr>
            <p>Program: {{ @SESSION.program }}</p>
            <hr>
            <p>Used to Make: {{ @SESSION.make }}</p>
            <hr>
            <p>Program Date: {{ @SESSION.date }}</p>
            <hr>
            <p>Program Time: {{ @SESSION.ptime }}</p>
            <hr>
            <p>Program Type: {{ @SESSION.ptype }}</p>
            <hr>
            <p>Status: {{ @SESSION.status }}</p>
            <hr>
            <p>Reason for Revision: {{ @SESSION.reason }}</p>
            <hr>
            <p>Graphic Check: {{ @SESSION.graphic }}</p>
            <hr>
            <p>MCD Compare: {{ @SESSION.mcd }}</p>
            <hr>
            <p>Previous Buy-off: {{ @SESSION.buyoff }}</p>
            <hr>
            <p>Programmer's MTO Instructions: {{ @SESSION.instruction }}</p>
            <hr>
            <p>Programmers Notes: {{ @SESSION.Pnotes }}</p>
            <hr>
            <p>Operator's Name: {{ @SESSION.operator }}</p>
            <hr>
            <p>Date: {{ @SESSION.date2 }}</p>
            <hr>
            <p>P/O #: {{ @SESSION.po }}</p>
            <hr>
            <p>Machine #: {{ @SESSION.machine }}</p>
            <hr>
            <p>Shift: {{ @SESSION.shift }}</p>
            <hr>
            <p>Seq. from/to: {{ @SESSION.seq }}</p>
            <hr>
            <p>Milling Process acceptable?: {{ @SESSION.process }}</p>
            <hr>
            <p>Operators Notes: {{ @SESSION.Onotes }}</p>
            <hr>
            <p>Geometry acceptable?: {{ @SESSION.geometry }}</p>
            <hr>
            <p>Signature: {{ @SESSION.signature }}</p>
            <hr>
            <p>Date signed: {{ @SESSION.sigdate }}</p>
            <hr>
		    <p>Layout Notes: {{ @SESSION.Lnotes }}</p>
            <hr>
		    <p>Tool1: {{ @SESSION.tool }}</p>
            <hr>
            <p>Description: {{ @SESSION.desc }}</p>
            <hr>
            <p>Tool2: {{ @SESSION.tool1 }}</p>
            <hr>
            <p>Description: {{ @SESSION.desc1 }}</p>
            <hr>
            <p>Programmer Notes: {{ @SESSION.pronotes }}</p>
            <hr>
            <p>Operator Notes : {{ @SESSION.opernotes }}</p>
            <hr>
            <p>Image: {{ @SESSION.mtocomments }}</p>
            <hr>
            <p>F/R: {{ @SESSION.rpmran }}</p>
            <hr>
            <p>MTO Status: {{ @SESSION.mtostatus }}</p>
            <hr>
            <p>Image: {{ @SESSION.image }}</p>
            <hr>
            <p>Signature Complete: {{ @SESSION.sig2 }}</p>
            <hr>
            <p>Date signed: {{ @SESSION.sig2date }}</p>
            <hr>

            <a href="../data"><button type="button" class="btn btn-primary">Form Database</button></a>
        </span>
    </div>
</body>
</html>
